<%= form_for @book, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :author_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :author_id, Author.all.collect {|au| [ au.name, au.id ] }, { prompt: "Author" } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :editorial_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :editorial_id, Editorial.all.collect {|ed| [ ed.name, ed.id ] }, { prompt: "Editorial" } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :published_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :published_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :format, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :format, [:paper, :digital].collect {|format| [format] }, { prompt: "Formato" } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                books_path, :class => 'btn' %>
  </div>
<% end %>
